{% extends 'bootstrap/base.html' %}

{% block scripts %}
    {{ super() }}
    <!-- Einbinden von jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Ihr eigenes Skript für das Drehen der Karteikarten -->
    <script>
        $(document).ready(function() {
            $('.flip-card').click(function() {
                // Beim Klick auf eine Karteikarte das drehen der Karteikarte auslösen
                $(this).closest('.card-container').find('.card').toggleClass('flipped');
            });
        });
    </script>
{% endblock %}

{% block head %}
    {{ super() }}
    <!-- Einbindung Ihrer eigenen CSS-Datei -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <!-- Toggle-Schaltfläche für mobile Ansicht -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Branding-Link -->
            <a class="navbar-brand" href="{{ url_for('index') }}">Mehmet Kara</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- Navigationslinks -->
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if not current_user.is_anonymous %}
                <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                {% endif %}
                <li><a href="{{ url_for('sets') }}">My Sets</a></li>
                <li><a href="{{ url_for('public_sets') }}">Public Sets</a></li>
                <li><a href="{{ url_for('new_set') }}">Create Set</a></li>
                {% if user == current_user %}
                <li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
                {% endif %}
            </ul>
            <!-- Anmelden-/Abmelden-Links -->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Benachrichtigungen -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item list-group-item-info">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- Anwendungsinhalt -->
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
