{% extends "base.html" %}

{% block app_content %}
    <!-- Überschrift für das Profilbearbeitungsformular -->
    <h1>Edit Profile</h1>
    <!-- Formular zur Bearbeitung des Profils -->
    <form action="" method="post" class="form">
        {{ form.hidden_tag() }}

        <!-- Feld für den Benutzernamen -->
        <div class="form-floating mb-3 custom-form-floating">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", size=32, id="floatingUsername") }}
            {% for error in form.username.errors %}
                <!-- Fehlermeldungen für das Benutzernamenfeld -->
                <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Feld für die "Über mich"-Beschreibung -->
        <div class="form-floating mb-3 custom-form-floating">
            {{ form.about_me.label(class="form-label") }}
            {{ form.about_me(class="form-control", cols=50, rows=4, id="floatingAboutMe") }}
            {% for error in form.about_me.errors %}
                <!-- Fehlermeldungen für das "Über mich"-Beschreibungsfeld -->
                <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Submit-Button für das Formular -->
        <p>{{ form.submit(class="btn btn-primary custom-submit-btn") }}</p>
    </form>
{% endblock %}
