{% extends "base.html" %}

{% block app_content %}
    <!-- Überschrift für das Registrierungsformular -->
    <h1 style="text-align: left;">Registrieren</h1>
    <!-- Formular für die Registrierung -->
    <form action="" method="post" class="form">
        <!-- Versteckte Tags für CSRF-Schutz -->
        {{ form.hidden_tag() }}

        <!-- Feld für den Benutzernamen -->
        <div class="form-floating mb-3 custom-form-floating">
            {{ form.username(class="form-control", id="floatingUsername", placeholder="Your Username") }}
            <label for="floatingUsername">{{ form.username.label }}</label>
            <!-- Fehlermeldungen für das Benutzernamenfeld -->
            {% for error in form.username.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Feld für die E-Mail-Adresse -->
        <div class="form-floating mb-3 custom-form-floating">
            {{ form.email(class="form-control", id="floatingEmail", placeholder="name@example.com") }}
            <label for="floatingEmail">{{ form.email.label }}</label>
            <!-- Fehlermeldungen für das E-Mail-Feld -->
            {% for error in form.email.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Feld für das Passwort -->
        <div class="form-floating mb-3 custom-form-floating">
            {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
            <label for="floatingPassword">{{ form.password.label }}</label>
            <!-- Fehlermeldungen für das Passwortfeld -->
            {% for error in form.password.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Feld zur Bestätigung des Passworts -->
        <div class="form-floating mb-3 custom-form-floating">
            {{ form.password2(class="form-control", id="floatingPasswordConfirm", placeholder="Confirm Password") }}
            <label for="floatingPasswordConfirm">{{ form.password2.label }}</label>
            <!-- Fehlermeldungen für das Feld zur Passwortbestätigung -->
            {% for error in form.password2.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Submit-Schaltfläche -->
        <p>{{ form.submit(class="btn btn-primary custom-submit-btn") }}</p>
    </form>
{% endblock %}
